<div class="jumbotron jumbotron-fluid bg-image mb-0">
  <div class="container text-center">
    <h1 class="display-4 mb-4">Maak een afspraak</h1>
    <a
      routerLink="../appointment/add"
      class="btn btn-link btn-lg text-black"
      role="button"
      >Maak nu een afspraak</a
    >
  </div>
</div>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-left text-md-center">
      <h2 class="mb-4">Contactgegevens</h2>
      <ul class="list-unstyled">
        <li><i class="fa fa-map"></i> Amsterdam, Nederland</li>
        <li><i class="fa fa-phone"></i> +31 123456789</li>
        <li><i class="fa fa-envelope"></i> info@jouwsalon.nl</li>
      </ul>
    </div>
    <div class="col-md-6 text-left text-md-center">
      <h2 class="mb-4">Openingstijden</h2>
      <ul class="list-unstyled">
        <li>Maandag: 9:00 - 18:00</li>
        <li>Dinsdag: 9:00 - 18:00</li>
        <li>Woensdag: 9:00 - 18:00</li>
        <li>Donderdag: 9:00 - 21:00</li>
        <li>Vrijdag: 9:00 - 18:00</li>
        <li>Zaterdag: 9:00 - 17:00</li>
        <li>Zondag: gesloten</li>
      </ul>
    </div>
  </div>
</div>
